@import "./bootstrap-grid.min.css";
@import "./grid.css";

*{
  box-sizing: border-box;
  font-size: 30px;
}

.row > div{
 text-align: center;
 padding: 20px;
 
}

.nav-list{      
  display: flex;
}



